graft src/redturtle
graft docs
include *.rst
global-exclude *.pyc
include LICENSE.GPL
include requirements.txt
exclude package-lock.json
include *.js
include *.json
include *.lock
include *.py
include *.txt
