body.template-gallery_view {
    .plone-modal-wrapper {
        .plone-modal {
            .plone-modal-header {
                .plone-modal-title {
                    display: block;
                    padding: 10px 15px;
                }

                .plone-modal-close {
                    visibility: hidden;
                }
            }

            .plone-modal-footer {
                padding: 0;
            }
        }
    }
}

.gallery-modal-wrapper {
    .gallery-modal-close {
        font-size: 2em;
        line-height: 1em;
        font-weight: 400;
        opacity: 0.7;
        min-width: 1em;
        text-align: center;
        padding: 0 20px 10px;
        border: 0;
        background: none;
        color: #000;
        position: fixed;
        top: 5px;
        right: 15px;
        overflow: hidden;

        &:focus {
            background: #CFCFCF;
        }
    }

    .plone-modal-content {
        #content-core {
            figure.image-product {
                text-align: center;
            }

            figcaption {
                display: none;
            }
        }
    }

    .gallery-slider {
        position: relative;
        padding: 15px 0 5px;

        .slick-list {
            text-align: center;
            width: 80%;
            margin: auto;
        }

        ul.slick-dots {
            width: 100%;
            padding: 15px 0 0;
            margin: 0;
            list-style: none;
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;

            li {
                padding: 0 5px;

                button {
                    padding: 0;
                    overflow: hidden;
                    width: 10px;
                    height: 10px;
                    text-indent: 1000px;
                    border-radius: 100%;
                    background: none;
                }

                &.slick-active {
                    button {
                        background-color: rgba(0, 0, 0, 0.67);
                    }
                }
            }
        }

        .slick-track {
            display: flex;
            flex-flow: row nowrap;
        }

        .gallery-item {
            height: auto;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            figure.item-image {
                max-width: 100%;
                width: auto;
                height: 100%;

                img {
                    margin: auto;
                    height: 100%;
                }
            }

            .item-title {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
                word-wrap: break-word;

                span {
                    font-weight: 600;
                    font-size: 1.2em;
                    padding: 10px 20px;
                    background: rgba(255, 255, 255, 0.67);
                    border-radius: 5px;
                    line-height: 3em;
                }
            }

            @media (max-width: 991px) {
                figure.item-image {
                    width: 100%;
                    height: auto;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                .item-title {
                    max-width: 100%;
                    overflow: hidden;
                    position: static;
                    padding-top: 15px;

                    span {
                        font-size: 3vw;
                    }
                }
            }
        }

        .slick-arrow {
            position: absolute;
            top: calc(50% - 10px);
            width: 30px;
            height: 30px;
            padding: 0;
            overflow: hidden;
            text-indent: 1000px;
            border-radius: 100%;
            z-index: 100;
            background-color: #FFF;
            background-image: url('++plone++redturtle.gallery/arrow.svg');
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.6;

            &.slick-prev {
                left: calc(5% - 15px);
                right: auto;
            }

            &.slick-next {
                right: calc(5% - 15px);
                left: auto;
                transform: rotate(180deg);
            }

            &:hover,
            &:focus {
                background-color: #ddd;
                opacity: 0.7;
            }

            &:focus {
                border-color: #333;
            }
        }
    }
}
