body.template-gallery_view {
    #portal-column-two {
        display: none;
    }

    #portal-column-content {
        float: none;
        width: auto;
    }

    .leadImage {
        display: none;
    }

    .photo-gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .photo-gallery-item {
            display: inline-block;
            padding: 20px;
            width: calc(100% / 3 - 40px);

            a {
                display: block;

                img {
                    max-width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .photo-gallery {
            justify-content: center;

            .photo-gallery-item {
                width: 100%;

                a {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}
