.gallery-modal-close {
    font-size: 2em;
    line-height: 1em;
    font-weight: 400;
    opacity: 0.7;
    padding: 0 20px 10px;
    background: none;
    border: 1px solid transparent;
    color: #000;
    overflow: hidden;

    &:hover,
    &:focus,
    &:active {
        background: none;
        color: #000;
        box-shadow: none;
        border-color: #CCC;
    }
}

.gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background: rgba(255, 255, 255, 0.6);

    .gallery-modal-wrapper {
        position: absolute;
        top: 40px;
        left: 10%;
        right: 10%;
        bottom: 40px;
        width: 80%;
        max-width: 1024px;
        padding: 10px 20px;
        margin: auto;
        background: #FFF;
        border: 1px solid #999;
        box-shadow: 0 0 20px 2px #666;
        border-radius: 4px;
        overflow: auto;

        .gallery-modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .gallery-modal-title {
                font-size: 1.2em;
            }
        }

        .gallery-slider {
            position: relative;
            padding: 15px 0 5px;

            .slick-list {
                text-align: center;
                width: 80%;
                margin: auto;
            }

            ul.slick-dots {
                width: 100%;
                padding: 15px 0 0;
                margin: 0;
                list-style: none;
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: center;

                li {
                    padding: 0 5px;

                    button {
                        padding: 0;
                        overflow: hidden;
                        width: 10px;
                        height: 10px;
                        text-indent: 1000px;
                        border-radius: 100%;
                        background: none;
                    }

                    &.slick-active {
                        button {
                            background-color: rgba(0, 0, 0, 0.67);
                        }
                    }
                }
            }

            .slick-track {
                display: flex;
                flex-flow: row nowrap;
            }

            .gallery-item {
                height: auto;
                position: relative;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;

                figure.item-image {
                    max-width: 100%;
                    width: auto;
                    height: 100%;
                    overflow: hidden;

                    img {
                        margin: auto;
                        height: 100%;
                        width: auto;
                    }
                }

                .item-title {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    word-wrap: break-word;

                    span {
                        font-weight: 600;
                        font-size: 1.2em;
                        padding: 10px 20px;
                        background: rgba(255, 255, 255, 0.67);
                        border-radius: 5px;
                        line-height: 3em;
                    }
                }

                @media (max-width: 991px) {
                    figure.item-image {
                        width: 100%;
                        height: auto;

                        img {
                            height: auto;
                            width: 100%;
                        }
                    }

                    .item-title {
                        max-width: 100%;
                        overflow: hidden;
                        position: static;
                        padding-top: 15px;

                        span {
                            font-size: 3vw;
                        }
                    }
                }
            }

            .slick-arrow {
                position: absolute;
                top: calc(50% - 10px);
                width: 30px;
                height: 30px;
                padding: 0;
                overflow: hidden;
                text-indent: 1000px;
                border-radius: 100%;
                z-index: 100;
                background-color: #FFF;
                background-image: url('++plone++redturtle.gallery/arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0.6;

                &.slick-prev {
                    left: calc(5% - 15px);
                    right: auto;
                }

                &.slick-next {
                    right: calc(5% - 15px);
                    left: auto;
                    transform: rotate(180deg);
                }

                &:hover,
                &:focus {
                    background-color: #ddd;
                    opacity: 0.7;
                }

                &:focus {
                    border-color: #333;
                }
            }
        }
    }
}
